/* Reset de estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #525942;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produto {
    text-align: center;
    margin: 10px;
}

.produto img {
    width: 200px;
    height: auto;
}

button {
    padding: 10px 20px;
    background-color: #B0D9B2;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #e69e00;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
